Body {
    background-color: black;
}

.Description {
    color: rgb(255, 255, 255);

}

.image {
    width: 10%; 
    padding: 200px;
}

.Imagecristals {
    width: 10%; 
    padding: 200px;
}